
.wallet-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e9f7;
  position: relative;
}

.wallet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}
.row1, .row2{
  display: flex;
  align-items: center;
}
.accountLabel, .balanceLabel {
  width: 40%;
  background: rgb(119, 197, 222);
  font-size: calc(.5rem + 1vw);
  font-weight: 700;
}
.accountLabel{
  border-top-left-radius: 4px;
  border-bottom: 1px solid #244f7640;
}
.balanceLabel{
  border-bottom-left-radius: 4px;
}
.accountValue, .balanceValue {
  width: 60%;
  background-color: #e6edf3;
  font-size: calc(.5rem + 1vw);
  font-weight: 500;
  text-align: end;
}
.accountValue{
  border-top-right-radius: 4px;
  border-bottom: 1px solid white;
}
.balanceValue{
  border-bottom-right-radius: 4px;
}

.wallet-page .button1{
  position: absolute;
  top: calc(1rem + 2vw);
  right: calc(1rem + 2vw);
  border-radius: 50% !important;
  font-size: calc(.6rem + 1vw) !important;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  padding: calc(1.7rem + .5vw) calc(.3rem + 1vw) !important;
  font-size: calc(.6rem + .4vw);
  background-color: rgb(119, 197, 222);
  animation-name: vibration;
  animation-duration: 3.1s; /* 3 ثواني انتظار + 0.1 ثانية للحركة */
  animation-iteration-count: infinite;
}

@keyframes vibration {
  0%, 96.77% {
    transform: translateX(0px);
  }
  97.1% {
    transform: translateX(5px);
  }
  97.4% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media(max-width:880px){
  .wallet-page .button1{
    padding: calc(1.2rem + .5vw) calc(.3rem + 1vw) !important;
  }
}

@media(max-width:675px){
  .accountLabel, .balanceLabel {
    width: 40%;
    font-size: calc(.4rem + .7vw);
    font-weight: 700;
  }
  .accountValue, .balanceValue {
    width: 60%;
    background-color: #e6edf3;
    font-size: calc(.4rem + .7vw);
    font-weight: 600;
  }
}

@media(max-width:500px){
  .wallet-page .button1{
    padding: calc(1rem + .5vw) calc(.3rem + 1vw) !important;
  }
}

@media(max-width:430px){
  .row1, .row2{
    flex-direction: column;
  }
  .accountLabel, .balanceLabel {
    width: 100%;
    font-size: calc(.4rem + .7vw);
    font-weight: 700;
  }
  .accountValue, .balanceValue {
    width: 100%;
    background-color: #e6edf3;
    font-size: calc(.4rem + .7vw);
    font-weight: 600;
    padding-left: 1rem;
    text-align: start;
  }
}