.product-item {
  position: relative;
}

.order-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
}

.product-item.selected {
  box-shadow: 0 0 0 2px rgb(119, 197, 222);
}

.order-controls input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.order-controls input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/*  */
.cancel.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(.1rem + .6vw) calc(.3rem + 1vw);
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: calc(.2rem + 1vw);
  font-weight: 600;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.cancel.btn span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.cancel.btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.cancel.btn svg {
  width: 32px;
  height: 32px;
  fill: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.cancel.btn:hover {
  animation: shake 0.2s linear 1;
}

.cancel.btn:hover::before {
  translate: 0 0;
}

.cancel.btn:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}
