#sidebar {
  min-height: 200vh;
  width: 250px;
  padding: 15px;
  background-color: white;
  color: rgba(0, 0, 0, 0.678);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transition: .15s linear;
  z-index: 9999;
}
#sidebar img {
  width: 60px;
}
#sidebar button {
  position: absolute;
  top: 50px;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  background-color: rgb(119, 197, 222);
  color: white;
  transform: translateX(50%) rotatez(180deg);
  transition: .15s linear;
}
#sidebar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 5px;
  transition: -1s;
}
#sidebar .fa-solid {
  display: flex;
  justify-content: center;
  width: 45px;
}
#sidebar i {
  font-size: larger;
  color: #cbd6f6;
}
#sidebar button i {
  color: white;
}
.text.active {
  display: none;
}
.sidebar.active {
  width: 88px !important;
  transition: .15s linear;
}
#sidebar .button.active {
  transform: translateX(50%);
  transition: .15s linear;
}
#sidebar .link {
  width: 100%;
  color: rgba(0, 0, 0, 0.678);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  margin-top: 5px;
}
#sidebar .link:hover:not(.active){
  background-color: rgb(0, 128, 255);
  color: white;
  transition: .1s;
}
#sidebar .link.active i{
  color: white;
}
.active { 
  background-color: rgb(119, 197, 222);
  color: white !important;
}