* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.VerificationContainer {
  min-height: 100vh;
  min-width: 100vw;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.VerificationContainer h1 {
  font-size: calc(1.3rem + 1vw);
  color: white;
  cursor: default;
}

.VerificationContainer p {
  font-size: calc(0.6rem + 0.7vw);
}

.VerificationContainer .number {
  background-color: white;
}

.VerificationContainer .number {
  width: calc(2rem + 2vw);
  height: calc(2rem + 2vw);
  border-radius: 12px;
  padding: 0px;
}

.VerificationContainer .row {
  display: flex;
  justify-content: center;
}

/* Start Buton */
.formm {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  display: flex;
}
.input {
  color: rgb(119, 197, 222);
  font-size: calc(1rem + 1vw);
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: calc(.5rem + 1vw);
  padding-block: 0.5rem;
  border: none;
  /* border-bottom: var(--border-height) solid var(--border-before-color); */
}
.input-border {
  position: absolute;
  background: rgb(119, 197, 222);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

input:focus {
  outline: none;
}
input:focus ~ .input-border {
  margin-left: 5px;
  width: 78%;
}
/* End Button */

/* Start Resend */
.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  transform: scale(.75);
}

.button .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    hsl(217, 33%, 16%) 0%,
    hsl(217, 33%, 32%) 8%,
    hsl(217, 33%, 32%) 92%,
    hsl(217, 33%, 16%) 100%
  );
}
@media (max-width:575.9px){
  .button .shadow, .button .edge {
    height: 90%;
  }
}
@media (max-width:354px){
  .button .shadow, .button .edge {
    height: 70%;
  }
}

.button .front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(.1rem + 1vw) calc(.1rem + 3vw);
  font-size: 1.25rem;
  color: white;
  background: hsl(217, 33%, 17%);
  border-radius: 8px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button .front span {
  user-select: none;
}

/* End Resend */

/* Start Verify */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: calc(.1rem + 2vw) calc(1rem + 4vw);
  border: 4px solid;
  border-color: transparent;
  font-size: calc(1rem + .5vw);
  border-radius: 100px;
  font-weight: bold;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(.65);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(119, 197, 222);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 300px;
  height: 300px;
  opacity: 1;
}
/* End Verify */